#criar-tarefa, #apaga-tudo, #remover-finalizados, #salvar-tarefas {
  background-color: grey;
  padding: 5px 10px;
}
.selected {
  background-color: gray;
}
.completed {
  text-decoration: line-through solid black;
}